<!DOCTYPE html>
<html>
  <head>
    <title>Grub Lord</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Grub Lord</h1>
    <p>Forgot Password</p>
    <br><br>
    <form action="/forgotPasswordSendEmail" method="POST">
    
    <label>Email ID:</label>
    <input type="text" name="email">

    <input type="submit" value="Submit">

    </form>
  </body>
</html>
