<!DOCTYPE html>
<html>
  <head>
    <title>Grub Lord</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Grub Lord</h1>
    <p>Welcome to Grub Lord</p>
    <br><br>
    <a href="/logout">Logout</a>
  </body>
</html>
